.personal {
    padding: 150px 0;
}
  
.reversed {
    background-color: var(--terciaty-color);
    flex-direction: row-reverse;
}
  
.personal .circle {
    width: 400px;
    height: 400px;
    background-color: var(--black);
}
  
.member-information {
    width: 400px;
    text-align: center;
}
  
.member-information .line-heading {
    margin-bottom: 54px;
}
  
#line-jp {
    width: 200px;
}
  
#line-lucas {
    width: 100px;
}
  
#line-aso {
    width: 150px;
}
  
#line-masiero {
    width: 150px;
}
  
#line-pedro {
    width: 120px;
}
  
.social-media {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
}
  
.social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: 0.5s;
}
  
.social-media-icon:hover {
    background-color: #8739cc;
}
  
.social-media-icon img {
    width: 25px;
    height: 25px;
}