.description p {
    width: 480px;
  }
  
.qualities {
    margin: 51px 0;
    text-align: center;
}
  
.qualities .line-heading {
    width: 375px;
}
  
.qualities-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.qualities-icon:hover {
    transition: 0.5s;
    transform: scale(1.1);
}
  
.qualities-icon::after {
    transition: 200ms;
    transform: scale(1);
}
  
.quality {
    display: inline-block;
    width: 216px;
    margin-top: 90px;
}
  
.quality img {
    width: 90px;
    height: 90px;
}
  
.qualities .circle {
    display: flex;
    border: 4px solid var(--primary-color);
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
  
.qualities .circle:hover {
    border-color: var(--secondary-color) !important;
}
  
.qualities .circle:hover .qualities-icon {
    transition: 0.5s;
    transform: scale(1.1);
}
  
.quality img {
    width: 90px;
    height: 90px;
}
  
.quality h3 {
    margin-top: 20px;
}