footer {
    display: flex;
    height: 300px;
    background-color: var(--black);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  
  footer h1 {
    line-height: 75px;
    font-family: "Sticky Pops";
    color: var(--white);
  }
  
  footer p {
    margin-top: 15px;
    color: var(--white);
    font-size: 13px;
  }
  
  .line-footer {
    margin: 5px auto;
    width: 150px;
    height: 2px;
    background-color: var(--primary-color);
  }